body {
}

#navBar, #navBarRegular {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 0 10px 0 16px;
    text-align: center;
    vertical-align: top;
    background-color: #b0b0b0;
}

#callToAction {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #007bff;
}

#buttonboxback {
    width: 150px;
    height: 40px;
    background-color: #007bff;
    position: relative;
    margin-left: 40px;
    border-radius: 5px;
}

#buttonboxback:after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent  transparent transparent #007bff;    
}

#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

#socialSection {
    margin-top:3%;
}

#checkedNavIcon {
    background-color:#949191;
}

#keepConnectTxt {
    text-align:center;
}
/*social media icon section*/
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 48px;
  height: 48px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 1px;
  margin-left:5px;
}

.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

/* restore webicons accessibility for print */
@media print {
  * {
      background: transparent !important;
      color: #000 !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }
  .webicon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

.webicon.youtube {
  background: url("../assets/img/icon/webicon-youtube.png"); }

.webicon.facebook {
  background: url("../assets/img/icon/webicon-facebook.png"); }
  
.webicon.linkedin {
  background: url("../assets/img/icon/webicon-linkedin.png"); }

.webicon.twitter {
  background: url("../assets/img/icon/webicon-twitter.png"); }
